.page {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: minMax(150px, 25%) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "sidebar content"
    ;
    .sidebar {
        grid-column: 1;
    }
    .page-content {
        grid-column: 2 / 3;
    }
}