<form class="login-form" [formGroup]="userForm" (ngSubmit)=onSubmit()>
    <div class="form-item">
        <label>
            Username:<br />
            <input type="text" formControlName="username">
        </label>
    </div>
    <div class="form-item">
        <label>
            Password:<br />
            <input type="password" formControlName="password">
        </label>
    </div>
    <div class="buttons">
        <div class="button-row">
            <div class="register">
                <button type="button" (click)="register()">register</button>
            </div>
            <div class="login">
                <button type="submit" [disabled]="!isLoginFormValid()">login</button>
            </div>
        </div>
    </div>
    <div *ngIf="shouldDisplayUsernameRequirements()">
        <p>just aphanumeric and underscores in the username! minimum length 3</p>
    </div>
    <div *ngIf="loginIncorrect()">
        <p>login failed</p>
    </div>
</form>
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>