@import 'src/styles/variables.scss';

.login-form {
    width: 100%;
    height: 100%;
    font-size: $standard-font-size;
}

.form-item {
    margin: 7px auto;
}

label {
    width: 100%;
}

input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.buttons {
    margin-top: 15px;
    .button-row {
        overflow: auto;
        * {
            display: inline-block;
            font-size: $standard-font-size;
        }
        .register {
            float: left;
            font-size: inherit;
        }
        .login {
            float: right;
        }
        *:hover {
            cursor: pointer;
        }
    }
}
