<div class="navItem-wrapper" (click)="toggleSidebar()">
    <div class="navItem">
        <fa-icon [icon]="faBars"></fa-icon>
    </div>
</div>
<div *ngFor="let navItem of navItems">
    <div class="navItem-wrapper" (click)="navigate(navItem.page)">
        <div *ngIf="sidebarOpen; else useIcons">
            <div class="navItem sideBarOpen" [innerHtml]="navItem.text"></div>
        </div>
        <ng-template #useIcons>
            <div class="navItem sideBarClosed">
                <fa-icon [icon]="navItem.icon" size="lg"></fa-icon>
            </div>
        </ng-template>
    </div>
</div>