@import "src/styles/colours.scss";

.navItem-wrapper {
    background-color: $primary-info-background;
    border-bottom: solid 1px $primary-accent;
    display: grid;
    place-items: center;
}

.navItem-wrapper:hover {
    background-color: $secondary-info-background;
}

.navItem {
    margin: 4px auto;
    user-select: none;
    &.sideBarOpen {
        font-size: 30px;
    }
}
